
@{
    <style>
        body {
            background-image: url(/Content/Images/banne1.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100vh;
            margin: 0;
        }
        main{
            height:86vh;
        }
    </style>
}

<main>
    <div class="d-flex align-items-center justify-content-center position-absolute top-50 start-50">
        @Html.ActionLink("Shop", "Index", "Products", null, new { @class = "btn btn-dark" })
    </div>
</main>