/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.details-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
 /*   filter: drop-shadow(10px 10px 20px black);
    -webkit-filter: drop-shadow(10px 10px 20px black);*/
    background-repeat: no-repeat;
}

    .details-img:hover {
        filter: grayscale(50%);
        -webkit-filter: grayscale(50%);
    }

.modal.show .modal-dialog.my-modal {
    justify-content: center;
    display: flex;
    align-items: center;
    transform: none;
}

.modal-content.my-modal {
    /* justify-content: center; */
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50% !important;
    color: var(--bs-modal-color);
    pointer-events: auto;
    background-color: #fffffff0;
    background-clip: padding-box;
    border: none;
    border-radius: var(--bs-modal-border-radius);
    outline: 0;
    margin-top: 40px
}